* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.main__container {
  width: 100vw;
  height: 100vh;
}

.main__container h1 {
  padding: 100px 0;
  text-align: center;
}

.blogs {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.blog_card {
  /* padding: 20px; */
  border: 1px solid black;
  background-color: rgba(180, 68, 34, 0.736);
  width: 400px;
  height: auto;
  margin: 20px 0 0 20px;
  text-align: center;
}

/* .blog-details p {
  padding: 20px;
  margin-top: 5px;
}
.blog-details a {
  padding: 20px;
  margin-top: 50px;
} */



.blog_image {
  width: 100%;
  height: auto;
}

.blog_image > img {
  width: 100%;
  height: 100%;
}

.blog-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  text-align: center;
  padding: 20px;
}

.blog-details a {
  text-decoration: none;
}
